<mat-toolbar>
  <img class="image-responsive" src="/assets/logo.png" alt="Nature">
  <span class="spacer"></span>
  <div class="large-screen-options">
    <button mat-button class="button-space" [routerLink]="'/leads'">
      <span>Inicio</span>
    </button>
    <button mat-button class="button-space" [routerLink]="'/new-lead'">
      <span>Novo Lead</span>
    </button>
    <button mat-button class="button-space" (click)="logout()">
      <span>Sair</span>
    </button>

  </div>
  <div class="small-screen-options">
    <button mat-icon-button class="button-space" [routerLink]="'/leads'">
      <mat-icon>home</mat-icon>
    </button>

  </div>

</mat-toolbar>
<router-outlet></router-outlet>
